<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>developer-id</string>
    <key>destination</key>
    <string>export</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>1A854AC0E39D53BA78953D73D662D20CF53C563C</string>
    <key>teamID</key>
    <string>D523TSBMWR</string>
    <key>manageAppVersionAndBuildNumber</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
</dict>
</plist>
